@media screen and (max-width:1160px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 570px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        max-width: 360px;
    }

    .row {
        display: block;
    }

    .row>.col {
        width: 100%;
        margin-bottom: 35px;
    }

    .why-us {
        background-color: #222222;
    }
}